@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');
:root {

  --color-black: #252628;
  --color-black-light: #3b3d40;
  --color-gray-dark: #676b6f;
  --color-gray: #a7abae;
  --color-gray-light: #caccce;
  --color-gray-lighter: hsl(200, 6%, 93%);
  --color-white: #fcfcfd;
  --color-brand: #673ab7;

	--color-green: #00d369;
  --color-red: #e44949;
}

:root {
  --text-color: var(--color-black);
  --text-light-color: var(--color-gray-dark);
  --button-color: var(--color-brand);

	--success-color: var(--color-green);
	--error-color: var(--color-red);
}

@media (prefers-color-scheme: dark) {
  :root {
    
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-weight: normal;
  font-family: "Funnel Sans";

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  outline-offset: 3px;
  outline-color: var(--color-black-light);
  
}

body {
  color: var(--text-color);
}
